# ============================================================
# IGNORA TUTTO DI DEFAULT
# ============================================================

/*

# ============================================================
# WIRELESS
# ============================================================

!/Wireless/
/Wireless/*
!/Wireless/New/

# ============================================================
# SOUNDS
# ============================================================

!/Sounds/
/Sounds/*
!/Sounds/New/
!/Sounds/Ambient/

# ============================================================
# SCRIPTS
# ============================================================

!/Scripts/
/Scripts/*
!/Scripts/Spectator_vehicle.txt
!/Scripts/Super_Item_Profiles.txt

# ============================================================
# LOCALE
# ============================================================

!/Locale/
/Locale/*
!/Locale/New_Language.lng

# ============================================================
# ENV
# ============================================================

!/Env/
/Env/*
!/Env/Diagnostics/
!/Env/menu_font.txt
!/Env/visual_filter.txt
!/Env/visual_filter_strength.txt

# ============================================================
# CARTELLE INTERAMENTE VERSIONATE
# ============================================================

!/src/
!/svg/
!/Res/
!/Interface/
!/Filters/
!/Database/

# ============================================================
# FILE ROOT
# ============================================================

!/.gitignore
!/README.md
!/License.txt

AGENTS.MD



