; OpenNeoUA graphics profile: OpenNeoUA
; Default OpenNeoUA profile used by Advanced Graphics Settings.

gfx.visual_filter = Black_Sect_Anvil.pal
gfx.visual_filter_strength = 0.50
gfx.atmosphere_strength = 0.50
gfx.atmosphere_exposure = 1.70
gfx.atmosphere_contrast = 0.95
gfx.atmosphere_saturation = 0.80
gfx.atmosphere_vignette = 0.60
gfx.skydistance = 60000
gfx.sky_height = -400
gfx.horizon_fog_start = 4000
gfx.horizon_fog_length = 2000
gfx.horizon_fog_strength = 0.80
gfx.horizon_dark_start = 2000
gfx.horizon_dark_length = 2000
gfx.horizon_dark_strength = 0.65
game.world_ui_max_distance = 5700
gfx.vhs_filter_strength = 0.60
gfx.particles.limit = 9000
gfx.video_filter_mode = 0
gfx.horizon_fade_mode = 0
