; OpenNeoUA reusable Debuff profiles.
; The filename is only organizational: new_debuff <id> is the real profile definition.

new_debuff 1
    debuff_icon = Interface/StatusIcons/broken_armor.png
    debuff_name = Broken_Armor
    debuff_duration = 9000
    debuff_shield_malus = -30%
end

new_debuff 2
    debuff_allow_on_host_station = 1
    debuff_inherit_to_children = 1
    debuff_icon = interface/StatusIcons/radiation.png
    debuff_name = radiations
    debuff_damage = 2500
    debuff_tick_time = 2000
    debuff_duration = 900000
    debuff_force_malus = -50%
    debuff_maxrot_malus = -50%
    debuff_shield_malus = -20%
    debuff_snd_pitch = -70%
    debuff_mgun_shot_time_malus = -50%
    debuff_shot_time_malus = -50%
    debuff_vp = 191_191_191_191_191
    debuff_tint = 0_255_0_255
    debuff_target_tint = 140_255_140_230
    debuff_visual_scale = 4.0
    debuff_random_max_offset = 90%
end

new_debuff 3
    debuff_icon = interface/StatusIcons/stun.png
    debuff_name = stun
    debuff_duration = 4000
    debuff_stun = 1
    debuff_stun_motion_level = 0.1
    debuff_stun_unit_fire = 0
    snd_debuff_sample = sounds/new/stun.wav
    snd_debuff_pitch = 0
    snd_debuff_volume = 50
end
new_debuff 4
    debuff_icon = interface/StatusIcons/shock.png
    debuff_name = shock
debuff_damage = 2000
debuff_tick_time = 2000
debuff_duration = 5000
debuff_vp = 189_189_189
debuff_random_max_offset = 50%
debuff_visual_scale = 0.5
debuff_force_malus = -15%
    snd_debuff_sample = sounds/brutzel.wav
    snd_debuff_pitch = 6000
    snd_debuff_volume = 50
    shk_debuff_slot   =	2
	shk_debuff_mag0	= 0.3
	shk_debuff_mag1	= 0.1
	shk_debuff_time   =	400

end